:root {
    --cell-size: 30px;
    --ship-c: rgb(95, 95, 95);
    --sunk-ship-c: rgb(255, 100, 100);
    --water-c: rgb(100, 100, 225);
    --hit-c: rgb(100, 225, 100);
    --miss-c: rgb(225, 225, 100);
}

#game {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.board-cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid;
    background: var(--water-c);

    &.hit {
        background: var(--miss-c);

        &::after {
            content: "x";
        }
    }
}

.board-cell.has-ship {
    &.hit {
        background: var(--hit-c);
    }

    &.sunk-ship {
        background: var(--sunk-ship-c);
    }

    background: var(--ship-c);
}

.board-cell.has-ghost-ship {
    background-color: var(--hit-c);
}

.board-cell.invalid-ghost-ship {
    background-color: var(--sunk-ship-c);
}

.player-section.active {
    .player-board {
        outline: 4px solid green;
    }

    .board-cell {
        cursor: pointer;
    }
}

.placement-container {
    display: flex;
    flex-direction: column;

    align-items: flex-start;

    .header {
        display: flex;
        align-items: center;

        gap: 1rem;
    }

    .placement-ship {
        .ship-segment {
            width: var(--cell-size);
            height: var(--cell-size);

            background-color: var(--ship-c);
        }

        &:not(:last-of-type) {
            margin-bottom: 1rem;
        }
    }
}
